@tailwind base;

@layer base {
  h2 {
    vertical-align: center;
    text-align: center;
  }
  h3 {
    font-weight: bold;
    font-size: 1.1em;
  }
  p {
    font-size: 1em;
  }
  html,
  body {
    margin: 0;
    height: 100%;
  }
  * {
    box-sizing: border-box;
  }
}
@layer components {
}
@tailwind components;
@tailwind utilities;
@layer utilities {
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #160f2e;
    height: 80px;
    padding: 1.2em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #160f2e;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 80px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 30;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  #demo {
    font-family: "Josefin Sans", sans-serif;
    font-style: bold;
  }

  #full-name:hover {
    border-bottom: 1px solid #bf55ff;
    transition: border 0.5s linear;
  }
  #full-name:focus {
    border-bottom: 1px solid #160f2e;
    transition: border 1s linear;
  }

  #email-address:hover {
    border-bottom: 1px solid #bf55ff;
    transition: border 0.5s linear;
  }
  #email-address:focus {
    border-bottom: 1px solid #160f2e;
    transition: border 1s linear;
  }

  #subject:hover {
    border-bottom: 1px solid #bf55ff;
    transition: border 0.5s linear;
  }
  #subject:focus {
    border-bottom: 1px solid #160f2e;
    transition: border 1s linear;
  }

  #message:hover {
    border: 1px solid #bf55ff;
    transition: border 1s linear;
  }
  #message:focus {
    border: 1px solid #160f2e;
    transition: border 1s linear;
  }

  /* CSS */
  .button-20 {
    appearance: button;
    background-color: #4d4ae8;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    );
    border: 1px solid #4d4ae8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
      rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }

  .button-20:focus:not(:focus-visible),
  .button-20:focus {
    outline: 0;
  }

  .button-20:hover {
    background-color: #3733e5;
    border-color: #3733e5;
  }

  .button-20:focus {
    background-color: #413fc5;
    border-color: #3e3bba;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
      rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
  }

  .button-20:active {
    background-color: #3e3bba;
    background-image: none;
    border-color: #3a38ae;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
  }

  .button-20:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
      rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
  }

  .button-20:disabled {
    background-image: none;
    box-shadow: none;
    opacity: 0.65;
    pointer-events: none;
  }

  .display-none {
    display: none;
  }
  .messageStyle {
    color: #fff;
  }
}
